@import "tailwindcss";

:root {
  --color-primary: #0a8791;
  --cnc: 1280px;
}
.primary {
  color: var(--color-primary);
}
.border-primary{
  border-color: var(--color-primary);
}
.bg-primary {
  background-color: var(--color-primary);
}
.container {
  max-width: var(--cnc);
  padding: 0 15px;
  margin: 0 auto;
}
